# Environnement virtuel
env/
venv/

# Variables d'environnement sensibles
.env

# Token JWT
.token

# Python
__pycache__/
*.pyc
*.pyo

# Coverage
.coverage
htmlcov/

# Pytest
.pytest_cache/

# VSCode
.vscode/

# Script one-shot
create_admin.py